*{
   
    margin: 0;
    padding:0;
    box-sizing: border-box;
  
    
}

h1{
    margin-top: 50px
}
body{
    margin-top: 10px;
}
img{
    height: 300px;
    width: 300px;
    float: left;
    border: 10px solid black;
    margin-right: 10px;
}

span{
   margin-top:10px ;
   margin-left: 50px;
   font-size: 20px;

}

#container{
    
background-color: aqua;
    color:black;
     margin: auto;
     width: 50%;
     height: 70vh;
     box-shadow: 0 0 10px green;
    }

p{
    font-size: 20px;
    text-align: justify;
}
